@model NKSLK.Models.Entities.CONG_NHAN

@{
    ViewBag.Title = "Edit";
}

<h2>Chỉnh sửa công nhân</h2>
<hr/>

@using (Html.BeginForm("Edit", "Congnhan", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="form-horizontal">
    
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.MaCN, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.MaCN, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MaCN, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.HoTen, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.NgaySinh, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.NgaySinh, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.GioiTinh, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @*@Html.EditorFor(model => model.GioiTinh, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.GioiTinh, "", new { @class = "text-danger" })*@
                            <select class="form-control" name="GioiTinh">
                                @foreach (var item in ViewBag.GT)
                                {
                                    if (Model.GioiTinh == @item.GioiTinh)
                                    {
                                        <option selected>@item.GioiTinh</option>
                                    }
                                    else
                                    {
                                        <option>@item.GioiTinh</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.PhongBan, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @*@Html.EditorFor(model => model.PhongBan, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PhongBan, "", new { @class = "text-danger" })*@
                            <select class="form-control" name="PhongBan">
                                @foreach (var item in ViewBag.PB)
                                {
                                    if (Model.PhongBan == @item.PhongBan)
                                    {
                                        <option selected>@item.PhongBan</option>
                                    }
                                    else
                                    {
                                        <option>@item.PhongBan</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ChucVu, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @*@Html.EditorFor(model => model.ChucVu, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ChucVu, "", new { @class = "text-danger" })*@
                            <select class="form-control" name="ChucVu">
                                @foreach (var item in ViewBag.CV)
                                {
                                    if (Model.ChucVu == @item.ChucVu)
                                    {
                                        <option selected>@item.ChucVu</option>
                                    }
                                    else
                                    {
                                        <option>@item.ChucVu</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="form-group">
            @Html.LabelFor(model => model.QueQuan, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.QueQuan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.QueQuan, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
        <div class="col-2">
                <button type="submit" class="btn btn-default" title="Save" style="color: #048bcd;">
                    <i>Lưu lại</i>
                </button>
                <a href="@Url.Action("Index", "CongNhan")">
                    <button class="btn btn-default">
                        <i>Quay lại</i>
                    </button>
                </a>
        </div>
    </div>
    }



